
<div class="row">

	<div class="col-md-10 home">

		<h1>About Us</h1> 

		<p>
			&nbsp; &nbsp; &nbsp; &nbsp; 
			La Corsa has been developed with a simple vision in mind. 
			There are already a large number of E-Learning platforms providing a huge number of courses with various levels of interactivity. And as you know there are a large number of learning materials that lie around all over the web. But you when you search for particular topic you might be confused with the variety of materials and it's quality. So La Corsa aims to brig about a change in this specific scenario.
		</p>	
		<p>
			&nbsp; &nbsp; &nbsp; &nbsp; 
			Here we don't create any new contents or materials for learning. Instead we gather what is already there. We arrange it in different order and bundle it to form a course. And all such courses will be open to all. Any one who signup can take up a course or can suggest a course that you made to your students and monitor their progress.
		</p>
	</div>
</div>