
<%= render 'shared/sub_menu' %>

<%= render 'shared/alert_message' %>

<div class="courses">
	<% if @courses.empty? %>
		<div class="alert alert-info"> You don't have any courses </div>
	<% else %>
		<%= render @courses %>
	<% end %>
</div>

<%= will_paginate @courses %> 