<%= render 'shared/sub_menu' %>

<!-- Display the course details -->
<div class="courses">
	<%= render @course %>
</div>
<!-- End of Dislaying course details -->

<!-- Course status bar -->
<%= render 'shared/course_status_bar' %>
<!-- End Course status bar -->

<!-- Display the study materials in Order -->
<% @learning_process = current_user.occurences_as_student.where(course_id: @course.id) %>
<% if !@learning_process.empty? %>
	<% @course_flag = true %>
	<% @counter = 0 %>
<% end %>

<%= render @study_materials %>
<!-- End of displaying the study materials in Order -->

