header {
	width: 100%;
	/*opacity: 0.9;*/
}

nav {
	padding: 0% 12%;
}
nav .navbar .navbar-default {
	background: lightgrey;
}
body, html{
	height: 100%;
	/*overflow: hidden;*/
}
.container {
	/*padding: 0% 9%;*/
	background: white;
	opacity: 0.95;
	border-radius: 10px;
	margin:auto;
	width: 76.5%;
	padding: 20px;
	min-height: 76%;
	border: 1px solid lightgrey;
	position: relative;
	overflow: hidden;
}

footer {
    
    height: 50px;
    width: 100%;
    padding: 0% 12%;
    background: lightgrey;
    opacity: 0.9;
    padding-top: 20px;
    margin-top: 20px;
}

.course-row {
	overflow: hidden;
	font-size: 16px;
}

.course-row:hover {
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: #e7e7e7;
}

.course-row .col-md-1, .course-row .col-md-10 ,.course-row .col-md-2 ,.course-row .col-md-6 {
	padding: 10px;
}

.course-row .col-md-1:last-child{
	text-align: center;
	border-radius-top-right: 5px; 
	color: white;
}

a .course-row {
	text-transform: none;
	text-decoration: none;
	text-indent: none;
	color: black;
}

.navbar-header .navbar-brand {
	color: teal;
	font-weight: 300;
	font-size: 25px;
}
.container .home h1, .container .home h2 {
	font-size: 40px;
	font-weight: 100;
}

.container .home p {
	font-size: 16px;
	font-weight: 200;
}

.row {
	text-align: justify;
}

.signin {
	padding: 10px;
	padding-left: 40px;
	border-left: 1px solid lightgrey;
	font-weight: 300;
}

.signin_font, .signin_font h2, .signin_font label {
	font-weight: 300;
}
.signup .row {
	margin-top: 15px;
}

.signup {
	margin-left: 25px;
}

.right_of_signup {
	margin-top: 70px;
}

.edit_delete_space {
	margin-right: 20px;
}

.right-column-common {
	border-left: 1px solid lightgrey;
}

.container .nav .active a:hover{
	cursor: pointer;
}

.searchresults {
	margin-top: 20px;
}

.search{
	width : 322px;
	border-radius: 4px;
	border: 1px solid lightgrey;
	height: 30px;
	padding: 4px;
}

.searcher {
	padding: 4px;
	margin-left: 10px;
	font-size: 18px;
}

.searchresults .list-group-item {
	cursor: pointer; 
}


.searchresults .list-group-item:hover {
	background-color: lightgrey;
}

/* add new course and study material */

.add_new_course h4, .add_new_course .row label, label, h4, .searcher{
	font-weight: 200;
}

.add_new_course .row, .add-new-study-material .row {
	margin-bottom: 20px;
}

.add_new_course .added-materials .row{
	margin-bottom: 0px;
}

.add_new_course .name, .add_new_course .studyText, .add-new-study-material .row input[type="text"], .add-new-study-material .row textarea {
	width : 285px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	height: 30px;
}

.add_new_course .studyText, .add-new-study-material .row textarea {
	height: 90px;
}

.add-new-study-material .msg {
	margin-left: 0px;
}

/* first letter icon in header near username */
.name-icon {
	background: yellowgreen;
	padding: 3px 6px; 
	border-radius: 3px;
	color: white;
	margin-right: 4px;
}

/* Courses listing and course card */

.courses .panel .row .col-md-8, .courses .panel .row .col-md-7 {
	padding: 10px;
	font-size: 20px;
}

.courses .panel .row .col-md-7 a, .courses .panel .row .col-md-8 a {
	color: white;
}
.courses .panel .row .col-md-4 span, .courses .panel .row .col-md-5 span{
	margin-left: 5px;
	padding:10px;
	font-weight: bold;
	background: rgb(58, 58, 58); /*#2a6496**/
	color: white;
	border-radius: 3px;
	font-size: 12px;
}
.courses .panel .row .col-md-8 .sub , .courses .panel .row .col-md-7 .sub {
	font-size: 13px;
	color:grey;
}

.courses .panel .panel-heading{
	background: rgb(104, 191, 219);
}

.courses .panel .panel-body {
	font-size: 16px;
	font-weight: 200;
	background-color: #d9edf7;
	color:black;
}


/* Course status bar */

.course-status-bar .panel {
	padding: 20px;
}

.course-status-bar .panel .row .col-md-6 .suggest {
	font-size: 16px;
	margin-right: 10px;
}

.course-status-bar .panel .row .col-md-6 .suggest-input {
	border: 1px solid lightgrey;
	border-radius: 5px;
	width:260px;
	padding: 4px;
	height: 35px;
}

.course-status-bar .panel .row .col-md-4 .status, .course-status-bar .panel .row .col-md-2 .status {
	color:white;
	background-color: yellowgreen;
	padding: 20px 10px;
	font-size: 25px;
	font-weight: 100;
	border-radius: 100%;
	position: relative;
	left:-10px;
	border: 2px solid white;
}

.course-status-bar .panel .row .col-md-2 .status {
	padding: 24px 10px;
}
.course-status-bar .panel .row .col-md-4 .text {
	background-color:deepskyblue;
	padding: 6px;
	color: white;
	border-radius: 4px;	
	font-weight: 100;
	font-size: 15px;
}

.course-status-bar .panel .row .col-md-6 form{
	display: inline;
}
.remove-material {
	cursor: pointer;
}
.remove-material:hover {
	color:red;
}


/* Rating related classes */

.rating {
	font-size: 18px;
	font-weight: 300;
}

.rating select {
	border: 1px solid lightgrey;
	font-size: 18px;
}