<footer id="footer">
	<div class="row">
				<div class="col-md-4">La Corsa  | Copyright &copy; 2014</div>
				<div class="col-md-6"></div>
				<div class="col-md-2">Design by ynos1234</div>
			</div>
</footer>